.logo {
    width: 100px;
    border: 2px white solid;
    border-radius: 5px;
}
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background:linear-gradient(black,blue); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
.sidebar .social-box {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 60px;
    
  }
.sidebar footer{
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.sidebar a:hover {
    color: #f1f1f1;
  }
body {
    background-color: #111;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    
  }
#root {
    margin-left: 160px;
    text-align: center;
    color: whitesmoke;
}

.logout {
    margin-top: 10px;
}
.sidebar a {
    font-size: 25px;
    padding: 6px;
    text-decoration: none;
    background: linear-gradient(purple,white, purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: block;
}
.sidebar .socials {
    font-size: 15px;
}
h1 {
  font-family: 'Impact', sans-serif;
  position: relative;
  text-shadow: 
        0 0 5px blue,
        0 0 10px blue,
        0 0 15px purple,
        0 0 20px purple;
  font-size: 40px;
  text-align: center;
  color: whitesmoke;
  margin-top: 0px;
  padding: 15px;
  background: rgb(6, 5, 17);
  
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
th {
  background: linear-gradient(200deg, rgb(73, 0, 73),black, rgb(0, 0, 117));
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
table {
  width: 90%; /* Adjust the width as needed */
}
/* Alternating row colors */
tr:nth-child(odd) {
  background-color: black;
}

tr:nth-child(even) {
  background-color: rgb(31, 29, 29);
}
.quiz-form {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(200deg,black, black, rgb(38, 0, 63));
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-bottom: 2%;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid black;
  border-radius: 4px;
}

.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border:2px solid black;
  border-radius: 4px;
}

.question-section {
  margin-bottom: 8px;
  padding: 20px;
  background: linear-gradient(200deg,rgb(35, 14, 56), rgb(30, 29, 90), rgb(32, 21, 73));
  border-radius: 8px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: black 1 solid;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
